@import "@picocss/pico";

.btn-custom {
  --pico-primary-background: #e63946;
  --pico-primary-hover-background: #c1121f;
  background-color: var(--pico-primary-background);
}

.App {
  text-align: center;
  --pico-font-family: Times New Roman, Times, Serif;
  align-self: auto;
  padding: 5% 25% 5% 25%;
}

@media screen and (max-width: 900px) {
  .App {
    padding: 5% 15% 5% 15%;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding: 5% 5% 5% 5%;
  }
}

main {
  gap: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
    --pico-font-family: Brush Script MT;
    font-size: 2.5rem;
  }

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

button {
  /*background-color: blueviolet;*/
  border-radius: 3rem !important;
  width: fit-content !important;
}

select {
  width: fit-content;
}

.prompt {
  padding: 5%;
}

.textContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: auto;
}

.feather {
  width: 5rem;
  margin: auto;
}

#rightFeather {
  transform: scaleX(-1);
}

h4 {
  padding: 1rem;
}